<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value="${basedir}/logs" />

	<targets>
		<!-- Основной файл логов -->
		<target xsi:type="File"
				name="allFile"
				fileName="${logDirectory}/all-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString}" />

		<!-- Логи пользовательской активности -->
		<target xsi:type="File"
				name="userActivityFile"
				fileName="${logDirectory}/user-activity-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|USER:${aspnet-user-identity}|ACTION:${aspnet-request-method} ${aspnet-request-url}|${message}" />

		<!-- Логи ошибок -->
		<target xsi:type="File"
				name="errorFile"
				fileName="${logDirectory}/errors-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString,Data:maxInnerExceptionLevel=5}" />

		<!-- Консоль для отладки -->
		<target xsi:type="Console"
				name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<!-- Логи Microsoft скрываем (только предупреждения и ошибки) -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="errorFile" final="true" />

		<!-- Логи контроллеров -->
		<logger name="BlogPlatform.Controllers.*" minlevel="Info" writeTo="allFile,console" />

		<!-- Логи действий пользователей -->
		<logger name="BlogPlatform.Services.UserActivityLogger" minlevel="Info" writeTo="userActivityFile" />

		<!-- Все ошибки -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />

		<!-- Все остальные логи -->
		<logger name="*" minlevel="Info" writeTo="allFile" />
	</rules>
</nlog>